<%= render partial: "layouts/nav"%>
<div class="main-box">
  <div class="header-image">
    <%= image_tag "top-image2.jpg", class:"top-image2 img-fluid" %>
    <div class="theme text-center text-nowrap">「住みたい」を見つけましょう</div>
  </div>
  
  <div class="board-btn-box">
    <div class="home-btn-box">
    <%= link_to "掲示板を見に行く", boards_path, class:"btn btn-primary btn-lg btn-index"%>
    <%= link_to "掲示板を作成する", new_board_path, class:"btn btn-primary btn-lg btn-index"%>
    </div>

  <div class="container">
  <div class="row">
 
  
  <div class="col-lg-6">
  <h2 class="container-headline">✔︎ あなたの投稿した掲示板</h2>
  <ul class="board-box">
  <% if current_user.boards != nil %>
  <% current_user.boards.each do |board|%>
  <li class="card" style="width: 18rem;">
    <% if board.image.attached? %>
      <%= image_tag board.image, class: "bd-placeholder-img card-img-top" %>
    <% else %>
      <svg class="bd-placeholder-img card-img-top" width="100%" height="50%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">No Image</text></svg>
    <% end %>
    <div class="card-body">
      <h4 class="card-title"><%= board.title %></h4>
      <p class="card-text"><%= board.prefecture.name %></p>
      <p class="card-text"><%= board.municipality %></p>
      <%= link_to "投稿詳細へ", board_path(board.id),method: :get, class:"btn btn-primary"%>
      <p class="card-text"><small class="text-muted"><%= board.created_at %></small></p>
    </div>
  </li>
  <% end %>
  <% end %>
  </ul>
  </div>
  
  <div class="col-lg-6">
    <h2 class="container-headline">✔︎ 気になる！をした掲示板</h2>
    <ul class="board-box">
      <% current_user.like_boards.each do |board| %>
      <li class="card" style="width: 18rem;">
        <% if board.image.attached? %>
      <%= image_tag board.image, class: "bd-placeholder-img card-img-top" %>
        <% else %>
      <svg class="bd-placeholder-img card-img-top" width="100%" height="50%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">No Image</text></svg>
        <% end %>
      <div class="card-body">
      <h4 class="card-title"><%= board.title %></h4>
      <p class="card-text"><%= board.prefecture.name %></p>
      <p class="card-text"><%= board.municipality %></p>
      <%= link_to "投稿詳細へ", board_path(board.id),method: :get, class:"btn btn-primary"%>
      <p class="card-text"><small class="text-muted"><%= board.created_at %></small></p>
    </div>
  </li>
      <% end %>
    </ul>

  </div>
  </div>
  </div>
  </div>
  
</div>
