<%= render partial: "layouts/nav"%>
<div class="main-box">
  <div class="header-box">
    <h1 class="header-text header-border">掲示板詳細</h1>
  </div>

  <div class="form-box">
    <div class="show-btn-box">
      <%= link_to "マイページへ", home_index_path, class:"btn btn-primary btn-lg"%>
      <%= link_to "掲示板一覧へ", boards_path, class:"btn btn-secondary btn-lg"%>
    </div>
    <h3 class="title-text text-center"><%= @board.title %></h2>
    <table class="data-table">
      <tbody>
        <% if @board.question != "" %>
        <tr>
          <th class="table_column1">質問内容</th>
          <td class="table_column2"><%= @board.question %></td>
        </tr>
        <% end %>

        <% if @board.impressions != "" %>
        <tr>
          <th class="table_column1">住んでみての感想</th>
          <td class="table_column2"><%= @board.impressions %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% if @board.image.attached? %>
      <%= image_tag @board.image, class:"img-fluid mx-auto d-block"%>
    <% end %>
    <div id="map"></div>


<script>
  let map;

  function initMap() {
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center: {
        lat: gon.board.latitude,
        lng: gon.board.longitude
      },
      zoom: 17,
    });

    marker = new google.maps.Marker({
      position: {
        lat: gon.board.latitude,
        lng: gon.board.longitude
      },
      map: map
    });
  }
</script>

<script async defer
      src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GMAP_API'] %>&callback=initMap">
</script>

    <table class="data-table">
      <tbody>
        <tr>
          <th class="table_column1">投稿者</th>
          <td class="table_column2"><%= @board.user.nickname %></td>
        </tr>
        <tr>
          <th class="table_column1">都道府県</th>
          <td class="table_column2"><%= @board.prefecture.name %></td>
        </tr>
        <tr>
          <th class="table_column1">市区町村</th>
          <td class="table_column2"><%= @board.municipality %></td>
        </tr>
        <% if @board.edaban != "" %>
        <tr>
          <th class="table_column1">番地</th>
          <td class="table_column2"><%= @board.edaban %></td>
        </tr>
        <% end %>

        <% if @board.building_name != "" %>
        <tr>
          <th class="table_column1">建物名・マンション名</th>
          <td class="table_column2"><%= @board.building_name %></td>
        </tr>
        <% end %>

        <% if @board.question != "" %>
        <tr>
          <th class="table_column1">質問内容</th>
          <td class="table_column2"><%= @board.question %></td>
        </tr>
        <% end %>

        <% if @board.impressions != "" %>
        <tr>
          <th class="table_column1">住んでみての感想</th>
          <td class="table_column2"><%= @board.impressions %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <% if @board.user_id == current_user.id %>
    <div class="show-btn-box">
      <%= link_to "掲示板を編集", edit_board_path(@board.id), class:"btn btn-primary btn-lg" %>
      <%= link_to "掲示板を削除", board_path(@board.id),method: :delete, class:"btn btn-danger btn-lg" %>
    </div>
    <% else %>
      <div id="likes_buttons_"<%= @board.id %>>
      <%= render 'likes/like', board: @board %>
      </div> 
    <% end %>
  </div>

  <div class="comment-box">
    <% if @comments != nil %>
      <% @comments.each do |comment| %>
        <% if comment.user_id != current_user.id %>
          <%= comment.user.nickname %>
          <div class="other-comment">
              <%= comment.text %>
          </div>
        <% else %>
            <p class="anata">あなた</p>
            <div class="your-comment">
            <%= comment.text %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <%= form_with(model: [@board, @comment], local: true) do |f| %>
    <div class="text-danger">
    <%= flash[:error_messages] %>
    </div>
      <%= f.text_area :text, id:"text", class:"comment-form"%>
      <%= f.hidden_field :board_id, value: @board.id %>
      <%= f.submit "コメントを送信する", class:"btn btn-secondary btn-lg btn-block" %>
    <% end %>
  </div>
</div>